<ul class="active-files-list ui-margin-remove">
    <li *ngFor="let file of filesManagerService.activeFilesList"
        [ngClass]="filesManagerService.activeFile !== null
                   && filesManagerService.activeFile.path === file.path
                   ? 'ui-active' : 'ui-visible-toggle'"
        class="ui-display-inline-block">
        <a class="ui-link-reset file-name"
            (click)="filesManagerService.setActiveFile(file.path)">
            {{file.file}}
        </a>
        <a class="ui-link-reset"
           (click)="filesManagerService.removeActiveFile(file)"
           [ngClass]="{
                'ui-invisible-hover': filesManagerService.activeFile === null
                                      || filesManagerService.activeFile.path !== file.path
            }"
           ui-icon="icon:close;ratio:.8">
        </a>
    </li>
</ul>