<div class="uk-width-large uk-margin-auto">
    <form class="uk-form-stacked">
        <h2 class="uk-h2 uk-margin-medium-bottom">请求重置密码</h2>
        <div class="uk-margin">
            <label class="uk-form-label" for="loginName">用户名</label>
            <input class="uk-input" id="loginName" type="text" placeholder="请输入用户名">
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="emailOrPhone">邮箱或手机号</label>
            <input class="uk-input" id="emailOrPhone" type="text" placeholder="请输入你注册时提供的邮箱或手机号">
        </div>
        <div class="uk-margin-medium-top uk-text-center">
            <button type="submit"
                    class="uk-button uk-button-secondary uk-button-large uk-width-1-2">
                请求重置
            </button>
        </div>
        <p class="uk-text-center">
            取消重置？
            <a routerLink="../login">
                去登录
            </a>
        </p>
    </form>
</div>
