<div class="ui-navbar-left">
    <ul class="ui-navbar-nav">
        <ng-container *ngFor="let route of mainMenus">
            <li routerLinkActive="ui-active">
                <a [routerLink]="route.path">{{route.name}}</a>
                <div class="ui-navbar-dropdown"
                     *ngIf="route.children && route.children.length">
                    <ul class="ui-nav ui-navbar-dropdown-nav">
                        <ng-container *ngFor="let subMenu of route.children">
                            <li *ngIf="subMenu"
                                routerLinkActive="ui-active">
                                <a [routerLink]="subMenu.path">{{subMenu.name}}</a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </li>
        </ng-container>
        <li *ngIf="!currentUser"
            routerLinkActive="ui-active">
            <a (click)="goToLogin()">用户登录</a>
        </li>
        <li *ngIf="enableSearch">
            <a class="ui-navbar-toggle"
               #searchButton
               href="#modal-full"
               ui-search-icon>
            </a>
        </li>
    </ul>
    <div *ngIf="currentUser"
         class="ui-navbar-item ui-flex-stretch ui-visible@m">
        <a class="ui-flex ui-flex-middle">
            <img [attr.src]="currentUser.user.avatar"
                 width="30"
                 height="30"
                 class="ui-border-circle">
        </a>
        <div class="ui-navbar-dropdown"
             ui-drop="cls-drop: ui-navbar-dropdown; mode: click; pos: bottom-right; flip: x">
            <ul class="ui-nav ui-navbar-dropdown-nav">
                <li class="ui-h4 ui-text-truncate ui-margin-remove">
                    你好，{{currentUser.user.name}}
                </li>
                <li class="ui-text-muted ui-text-truncate">
                    @{{currentUser.user.loginName}}
                </li>
                <li class="ui-nav-divider"></li>
                <li>
                    <button class="ui-button ui-button-link"
                            (click)="logOut()">
                        退出登录
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="modal-full"
     class="ui-modal-full"
     ui-modal>
    <div class="ui-modal-dialog ui-flex ui-flex-center ui-flex-middle"
         ui-height-viewport>
        <button
                class="ui-modal-close-full"
                type="button"
                ui-close>
        </button>
        <app-common-main-menu-search></app-common-main-menu-search>
    </div>
</div>
