<header class="ui-container-expand">
    <div class="ui-grid">
        <div class="ui-width-expand">
            <a class="ui-link-reset ui-margin-small-left">
                CoreFormRender
            </a>
            <div class="ui-inline ui-margin-small-left">
                <a class="ui-margin-small-left">
                    <span ui-icon="icon:git-branch"></span>
                    master
                </a>
                <div [attr.ui-drop]="headerDropConfig">
                    <div class="ui-card ui-card-body ui-card-default">
                        分支切换
                    </div>
                </div>
            </div>
            <div class="ui-inline ui-margin-small-left">
                <a class="ui-margin-small-left">
                    <span ui-icon="icon:cloud-upload"></span>
                    保存
                </a>
                <div [attr.ui-drop]="headerDropConfig">
                    <div class="ui-card ui-card-body ui-card-default">
                        保存页面
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-width-auto">
            <a ui-tooltip="全屏"
               *ngIf="!fullScreenMode;else disableFullScreen"
               (click)="fullScreen()"
               class=" ui-margin-small-right">
                <span ui-icon="icon:expand"
                      class="text-icon-fix"></span>
            </a>
            <ng-template #disableFullScreen>
                <a ui-tooltip="退出全屏"
                   (click)="exitFullScreen()"
                   class=" ui-margin-small-right">
                <span ui-icon="icon:shrink"
                      class="text-icon-fix">
                </span>
                </a>
            </ng-template>
            <a [routerLink]="backUrl"
               ui-tooltip="返回"
               class=" ui-margin-small-right">
                <span ui-icon="icon:sign-out"
                      class="text-icon-fix"></span>
            </a>
        </div>
    </div>
</header>
