<header class="ui-container-expand">
    <div class="ui-grid">
        <div class="ui-width-expand">
            <div class="ui-inline ui-margin-small-left ui-margin-small-right"
                 *ngIf="componentService.component">
                <a class="header-text">
                    <span class="text-icon-fix"
                          ui-icon="icon:home"></span>
                    {{componentService.component.title}}
                </a>
                <div [attr.ui-drop]="headerDropConfig">
                    <div class="ui-card ui-card-body ui-card-default">
                        <app-header-component-panel></app-header-component-panel>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="!editorManagerService.readOnly">
                <div class="ui-inline ui-margin-small-left ui-margin-small-right">
                    <a class="header-text">
                        <span class="text-icon-fix"
                              ui-icon="icon:git-branch"></span>
                        master
                    </a>
                    <div [attr.ui-drop]="headerDropConfig">
                        <div class="ui-card ui-card-body ui-card-small ui-card-default">
                            <app-header-branch-panel></app-header-branch-panel>
                        </div>
                    </div>
                </div>
                <div class="ui-inline ui-margin-small-left ui-margin-small-right">
                    <a class="header-text"
                       [ngClass]="{
                            'ui-active': gitActionService.pushStatusTotal
                       }">
                        <span class="text-icon-fix"
                              ui-icon="icon:cloud-upload">
                        </span>
                        提交
                        <span *ngIf="gitActionService.pushStatusTotal"
                              @counter
                              class="ui-badge ui-position-top-right">
                            {{gitActionService.pushStatusTotal}}
                        </span>
                    </a>
                    <div [attr.ui-drop]="headerDropConfig">
                        <div class="ui-card ui-card-body ui-card-small ui-card-default">
                            <app-header-submit-panel></app-header-submit-panel>
                        </div>
                    </div>
                </div>
                <div class="ui-inline ui-margin-small-left ui-margin-small-right">
                    <a class="header-text">
                        <span class="text-icon-fix"
                              ui-icon="icon:cloud-download">
                        </span>
                        更新
                        <span *ngIf="gitActionService.pullStatusTotal"
                              @counter
                              class="ui-badge ui-position-top-right">
                            {{gitActionService.pullStatusTotal}}
                        </span>
                    </a>
                    <div [attr.ui-drop]="headerDropConfig">
                        <div class="ui-card ui-card-small ui-card-body ui-card-default">
                            <app-header-pull-panel></app-header-pull-panel>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="ui-width-auto">
            <a ui-tooltip="全屏"
               *ngIf="!fullScreenMode;else disableFullScreen"
               (click)="fullScreen()"
               class="header-text ui-margin-small-right">
                <span ui-icon="icon:expand"
                      class="text-icon-fix"></span>
            </a>
            <ng-template #disableFullScreen>
                <a ui-tooltip="退出全屏"
                   (click)="exitFullScreen()"
                   class="header-text ui-margin-small-right">
                <span ui-icon="icon:shrink"
                      class="text-icon-fix">
                </span>
                </a>
            </ng-template>
            <a [routerLink]="backUrl"
               ui-tooltip="返回"
               class="header-text ui-margin-small-right">
                <span ui-icon="icon:sign-out"
                      class="text-icon-fix"></span>
            </a>
        </div>
    </div>
</header>
