<ul class="file-list ui-margin-remove">
    <li *ngFor="let file of filesList"
        [ngClass]="{
            folder: file.isDirectory,
            open: file.opened,
            'ui-active': file.active
        }">
        <a (click)="selectNodeAction(file)">
            <span *ngIf="file.isDirectory"
                  class="directory-icon"
                  ui-icon="icon:triangle-right">
            </span>
            {{file.file}}
        </a>
        <ul *ngIf="file.opened && file.children.length"
            class="file-list ui-margin-remove">
            <app-files-list-render
                    (nodeSelect)="selectNodeAction($event)"
                    [filesList]="file.children">
            </app-files-list-render>
        </ul>
    </li>
</ul>