<div class="ui-width-large ui-margin-auto">
    <form class="ui-form-stacked">
        <h2 class="ui-h2 ui-margin-medium-bottom">用户注册</h2>
        <div class="ui-margin">
            <label class="ui-form-label" for="loginName">用户名</label>
            <input class="ui-input" id="loginName" type="text" placeholder="请输入用户名">
        </div>
        <div class="ui-margin">
            <label class="ui-form-label" for="name">姓名</label>
            <input class="ui-input" id="name" type="text" placeholder="请输入姓名">
        </div>
        <div class="ui-margin">
            <label class="ui-form-label" for="phone">手机号</label>
            <input class="ui-input" id="phone" type="text" placeholder="请输入手机号">
        </div>
        <div class="ui-margin">
            <label class="ui-form-label" for="email">邮箱</label>
            <input class="ui-input" id="email" type="text" placeholder="请输入邮箱">
        </div>
        <div class="ui-margin">
            <label class="ui-form-label" for="password">密码</label>
            <input class="ui-input" id="password" type="password" placeholder="密码">
        </div>
        <div class="ui-margin">
            <label class="ui-form-label" for="confirmPassword">确认密码</label>
            <input class="ui-input" id="confirmPassword" type="password" placeholder="确认密码">
        </div>
        <div class="ui-margin-medium-top ui-text-center">
            <button type="submit"
                    class="ui-button ui-button-danger ui-button-large ui-width-1-2">
                注册
            </button>
        </div>
        <p class="ui-text-center">
            已有账号？
            <a routerLink="../login">
                去登录
            </a>
        </p>
    </form>
</div>
