<app-editor-header class="ui-display-block ui-light"
                   [backUrl]="query.url">
</app-editor-header>
<div class="ui-grid ui-grid-collapse main-container ui-light">
    <app-editor-icon-nav class="ui-display-block ui-width-small">
    </app-editor-icon-nav>
    <app-editor-nav-panel *ngIf="editorPanelService.activePanelValue !== null"
                          class="ui-display-block ui-width-small ui-overflow-auto">
    </app-editor-nav-panel>
    <div class="ui-width-expand ui-height-1-1">
        <app-main-editor-top class="ui-display-block main-editor-top">
        </app-main-editor-top>
        <app-main-editor class="ui-display-block ui-position-relative main-editor-container"
                         (loadComplete)="mainEditorLoaded($event)">
        </app-main-editor>
    </div>
</div>
<div *ngIf="loadingService.state.state !== 'SUCCESS'"
     @loading
     [ngClass]="loadingService.state.state === 'LOADING' ? 'ui-overlay-primary' : 'ui-overlay-danger'"
     class="ui-position-cover ui-dark ui-overlay ui-flex ui-flex-center ui-flex-middle">
    <div class="ui-text-center">
        <ng-container *ngIf="loadingService.state.state === 'LOADING';else fail">
            <div ui-spinner>
            </div>
            <p>
                {{loadingService.state.message}} <span class="dot-loading">...</span>
            </p>
        </ng-container>
        <ng-template #fail>
            <a (click)="reload()" ui-icon="icon: refresh; ratio: 2">
            </a>
            <ul class="ui-list">
                <li>{{loadingService.state.message}}</li>
                <li><a (click)="goBack()">返回</a></li>
            </ul>
        </ng-template>
    </div>
</div>