<div class="uk-width-large uk-margin-auto">
    <form class="uk-form-stacked">
        <h2 class="uk-h2 uk-margin-medium-bottom">重置密码</h2>
        <div class="uk-margin">
            <label class="uk-form-label" for="username">验证码</label>
            <input class="uk-input" id="username" type="text" placeholder="验证码">
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="password">新密码</label>
            <input class="uk-input" id="password" type="password" placeholder="新密码">
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="confirmPassword">确认新密码</label>
            <input class="uk-input" id="confirmPassword" type="password" placeholder="确认新密码">
        </div>
        <div class="uk-margin-medium-top uk-text-center">
            <button type="submit"
                    class="uk-button uk-button-secondary uk-button-large uk-width-1-2">
                重置
            </button>
        </div>
        <p class="uk-text-center">
            取消重置？
            <a routerLink="../login">
                去登录
            </a>
        </p>
    </form>
</div>
