<ul ui-tab class="ui-child-width-expand submit-tab ui-margin-remove">
    <li>
        <a>
            暂存区
            <sup *ngIf="gitService.statusTotalArray[0]">
                {{gitService.statusTotalArray[0]}}
            </sup>
        </a>
    </li>
    <li>
        <a>
            待提交
            <sup *ngIf="gitService.statusTotalArray[1]">
                {{gitService.statusTotalArray[1]}}
            </sup>
        </a>
    </li>
</ul>
<ul class="ui-switcher ui-margin ui-margin-remove-bottom">
    <li>
        <app-file-state-list-render
                emptyMsg="暂存区为空"
                [dir]="gitService.projectDir"
                [list]="gitService.status.unStaged">
        </app-file-state-list-render>
        <a *ngIf="gitService.status.unStaged.length"
           class="ui-button ui-button-editor ui-button-small ui-width-1-1"
           (click)="gitService.add()">
            保存暂存区
        </a>
    </li>
    <li>
        <app-file-state-list-render
                emptyMsg="暂无待提交内容"
                [dir]="gitService.projectDir"
                [list]="gitService.status.staged">
        </app-file-state-list-render>
        <a *ngIf="gitService.status.staged.length"
           class="ui-button ui-button-editor ui-button-small ui-width-1-1"
           (click)="gitService.commit()">
            提交 && 推送
        </a>
    </li>
</ul>