<ul ui-tab #switcher class="ui-child-width-expand submit-tab ui-margin-remove">
    <li>
        <a>
            暂存区
            <sup *ngIf="gitActionService.statusTotalArray[0]">
                {{gitActionService.statusTotalArray[0]}}
            </sup>
        </a>
    </li>
    <li>
        <a>
            待提交
            <sup *ngIf="gitActionService.statusTotalArray[1]">
                {{gitActionService.statusTotalArray[1]}}
            </sup>
        </a>
    </li>
    <li>
        <a>
            待推送
            <sup *ngIf="gitActionService.asyncStatusCount.push">
                {{gitActionService.asyncStatusCount.push}}
            </sup>
        </a>
    </li>
</ul>
<ul class="ui-switcher ui-margin ui-margin-remove-bottom">
    <li>
        <app-file-state-list-render
                emptyMsg="暂存区为空"
                [dir]="gitService.dir"
                [list]="gitActionService.status.unStaged">
        </app-file-state-list-render>
        <a *ngIf="gitActionService.status.unStaged.length"
           [ngClass]="{
                'ui-disabled': loading.add
           }"
           class="ui-button ui-button-editor ui-button-small ui-display-block"
           (click)="add()">
            保存暂存区 <span class="dot-loading" *ngIf="loading.add"></span>
        </a>
    </li>
    <li>
        <app-file-state-list-render
                emptyMsg="暂无待提交内容"
                [dir]="gitService.dir"
                [list]="gitActionService.status.staged">
        </app-file-state-list-render>
        <ng-container *ngIf="gitActionService.status.staged.length">
           <textarea rows="2"
                     [(ngModel)]="message"
                     placeholder="请填写提交日志..."
                     class="ui-textarea ui-display-block ui-margin-small-bottom"></textarea>
            <a class="ui-button ui-button-editor ui-button-small ui-display-block"
               [ngClass]="{
                   'ui-disabled': !message || loading.commit
               }"
               (click)="commit()">
                提交 <span class="dot-loading" *ngIf="loading.commit"></span>
            </a>
        </ng-container>
    </li>
    <li>
        推送数据
        <a *ngIf="gitActionService.asyncStatusCount.push"
           class="ui-button ui-button-editor ui-button-small ui-display-block"
           [ngClass]="{
               'ui-disabled': loading.push
           }"
           (click)="push()">
            推送 <span class="dot-loading" *ngIf="loading.push"></span>
        </a>
    </li>
</ul>