<app-common-headerbar></app-common-headerbar>
<div class="page-medium-container uk-container">
    <div uk-grid
         class="uk-margin-bottom"
         *ngIf="menu && menu.children.length">
        <div class="uk-width-expand">
            <h2 class="uk-h3">
                <a class="uk-link-reset"
                    [routerLink]="menu.path">
                    {{menu.name}}
                </a>
            </h2>
        </div>
        <div class="uk-width-auto">
            <ul class="uk-subnav" uk-margin>
                <li routerLinkActive="uk-active"
                    *ngFor="let subMenu of menu.children">
                    <a [routerLink]="subMenu.path">{{subMenu.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
