<!-- <form>
  <fieldset class="uk-fieldset">
    <input class="uk-input" #searchBox id="search-box" (input)="search(searchBox.value)" />
  </fieldset>
</form> -->
<div class="uk-margin-bottom">
  <div class="uk-margin">
    <div class="uk-inline">
      <a class="uk-form-icon uk-form-icon-flip" uk-icon="icon:search" (click)="search(searchBox.value)"></a>
      <input type="text" class="uk-input" placeholder="search component" #searchBox (keydown.enter)="search(searchBox.value)" />
    </div>
  </div>
</div>
