<!-- <form>
  <fieldset class="ui-fieldset">
    <input class="ui-input" #searchBox id="search-box" (input)="search(searchBox.value)" />
  </fieldset>
</form> -->
<div class="ui-margin-bottom">
  <div class="ui-margin">
    <div class="ui-inline">
      <a class="ui-form-icon ui-form-icon-flip" ui-icon="icon:search" (click)="search(searchBox.value)"></a>
      <input type="text" class="ui-input" placeholder="search component" #searchBox (keydown.enter)="search(searchBox.value)" />
    </div>
  </div>
</div>