<div class="ui-width-large ui-margin-auto">
    <h2 class="ui-h2 ui-margin-medium-bottom">新建组件</h2>
    <form class="ui-form-stacked"
            (keydown.enter)="$event.preventDefault()"
            [formGroup]="mainForm"
            (ngSubmit)="create()">
        <div class="ui-margin">
            <div class="ui-form-label ui-flex ui-flex-between">
                <div class="ui-flex ui-flex-between">
                    <label for="title">
                        标题
                    </label>
                    <div *ngIf="f.title.errors && f.title.touched"
                         class="ui-text-danger"
                        [ngSwitch]="f.title.errors | objectFirstKey">
                        <span *ngSwitchCase="'required'">
                            请填写组件标题
                        </span>
                        <span *ngSwitchCase="'pattern'">
                            只能输入中文、英文、数字、下划线
                        </span>
                        <span *ngSwitchCase="'minlength'">
                            最少 {{f.title.errors.minlength.requiredLength}} 个字符
                        </span>
                        <span *ngSwitchCase="'maxlength'">
                            最大 {{f.title.errors.maxlength.requiredLength}} 个字符
                        </span>
                    </div>
                </div>
            </div>
            <input class="ui-input"
                   formControlName="title"
                   id="title"
                   type="text"
                   [class.ui-form-danger]="f.title.errors && f.title.touched"
                   [class.ui-form-success]="!f.title.errors && f.title.touched"
                   placeholder="请输入组件标题">
        </div>
        <div class="ui-grid ui-grid-small">
            <div class="ui-width-2-3">
                <div class="ui-form-label ui-flex ui-flex-between">
                    <div class="ui-flex ui-flex-between">
                        <label for="title">
                            名称
                        </label>
                        <div *ngIf="f.name.errors && f.name.touched"
                             class="ui-text-danger"
                             [ngSwitch]="f.name.errors | objectFirstKey">
                            <span *ngSwitchCase="'required'">
                                请填写组件名称
                            </span>
                            <span *ngSwitchCase="'pattern'">
                                允许字母、数字及下划线，以字母开头
                            </span>
                            <span *ngSwitchCase="'minlength'">
                                最少 {{f.name.errors.minlength.requiredLength}} 个字符
                            </span>
                            <span *ngSwitchCase="'maxlength'">
                                最大 {{f.name.errors.maxlength.requiredLength}} 个字符
                            </span>
                        </div>
                    </div>
                </div>
                <input class="ui-input"
                       formControlName="name"
                       id="name"
                       type="text"
                       [class.ui-form-danger]="f.name.errors && f.name.touched"
                       [class.ui-form-success]="!f.name.errors && f.name.touched"
                       placeholder="请输入组件名称">
            </div>
            <div class="ui-width-1-3">
                <div class="ui-form-label ui-flex ui-flex-between">
                    <div class="ui-flex ui-flex-between">
                        <label for="version">
                            版本
                        </label>
                        <div *ngIf="f.version.errors && f.version.touched"
                             class="ui-text-danger"
                             [ngSwitch]="f.version.errors | objectFirstKey">
                            <span *ngSwitchCase="'required'">
                                请提供版本号
                            </span>
                            <span *ngSwitchCase="'pattern'">
                                版本格式不正确
                            </span>
                        </div>
                    </div>
                </div>
                <input class="ui-input"
                       formControlName="version"
                       id="version"
                       type="text"
                       [class.ui-form-danger]="f.version.errors && f.version.touched"
                       [class.ui-form-success]="!f.version.errors && f.version.touched"
                       placeholder="版本号">
            </div>
        </div>
        <div class="ui-margin">
            <label class="ui-form-label">组件初始化</label>
            <div class="ui-grid-small ui-child-width-auto ui-grid">
                <label>
                    <input class="ui-radio"
                           type="radio"
                           formControlName="type"
                           value="template">
                    <span class="ui-margin-small-left">
                    从模板创建
                </span>
                </label>
                <label>
                    <input class="ui-radio"
                           type="radio"
                           formControlName="type"
                           value="upload">
                    <span class="ui-margin-small-left">
                    本地上传
                </span>
                </label>
                <label>
                    <input class="ui-radio"
                           type="radio"
                           formControlName="type"
                           value="git">
                    <span class="ui-margin-small-left">
                    与 Git 仓库同步
                </span>
                </label>
            </div>
        </div>
        <div class="ui-margin"
             *ngIf="f.type.value === 'template'">
            <div class="ui-grid-small ui-child-width-1-1 ui-grid"
                 ui-margin>
                <label>
                    <input class="ui-hidden check-box"
                           type="radio"
                           formControlName="template"
                           value="vue-component">
                    <div class="ui-card ui-card-default ui-card-small ui-card-hover ui-card-body box-button">
                        <div class="ui-card-badge"
                             *ngIf="f.template.value === 'vue-component'">
                        <span class="ui-text-primary"
                              ui-icon="icon:check;ratio: 2"></span>
                        </div>
                        <h3 class="ui-card-title">Vue异步组件</h3>
                        <p>提供一个创建异步组件的模板，采用 Vue + Less 技术实施，入口文件为 index.vue</p>
                    </div>
                </label>
                <label>
                    <input class="ui-hidden check-box"
                           type="radio"
                           formControlName="template"
                           value="vue-service">
                    <div class="ui-card ui-card-default ui-card-small ui-card-hover ui-card-body box-button">
                        <div class="ui-card-badge"
                             *ngIf="f.template.value === 'vue-service'">
                        <span class="ui-text-primary"
                              ui-icon="icon:check;ratio: 2"></span>
                        </div>
                        <h3 class="ui-card-title">Vue异步服务</h3>
                        <p>提供一个创建异步服务的模板，采用 Vue + Webpack 技术实施，入口文件为 index.js</p>
                    </div>
                </label>
            </div>
        </div>
        <div class="ui-margin"
             *ngIf="f.type.value === 'upload'">
            <div class="ui-form-label ui-flex ui-flex-between">
                <div class="ui-flex ui-flex-between">
                    <label for="file">
                        上传文件
                    </label>
                    <div *ngIf="f.file.errors !== null
                                && f.file.errors
                                && f.file.touched"
                         class="ui-text-danger">
                        <span *ngIf="f.file.errors.required">
                            请选择要上传的文件
                        </span>
                    </div>
                </div>
            </div>
            <div ui-form-custom>
                <input type="file"
                       id="file"
                       formControlName="file">
                <button class="ui-button ui-button-default"
                        type="button"
                        tabindex="-1">
                    选择文件
                </button>
            </div>
        </div>
        <div class="ui-margin"
             *ngIf="f.type.value === 'git'">
            <div class="ui-form-label ui-flex ui-flex-between">
                <div class="ui-flex ui-flex-between">
                    <label for="gitRepo">
                        Git仓库地址
                    </label>
                    <div *ngIf="f.gitRepo.errors !== null
                                && f.gitRepo.errors
                                && f.gitRepo.touched"
                         class="ui-text-danger"
                         [ngSwitch]="f.gitRepo.errors | objectFirstKey">
                        <span *ngSwitchCase="'required'">
                             请输入要同步的 Git 仓库地址
                        </span>
                        <span *ngSwitchCase="'pattern'">
                            Git仓库地址格式不正确
                       </span>
                    </div>
                </div>
            </div>
            <input class="ui-input"
                   formControlName="gitRepo"
                   id="gitRepo"
                   type="text"
                   [class.ui-form-danger]="f.gitRepo.errors && f.gitRepo.touched"
                   [class.ui-form-success]="!f.gitRepo.errors && f.gitRepo.touched"
                   placeholder="请输入要同步的 Git 仓库地址">
        </div>
        <div class="ui-margin">
            <div class="ui-form-label ui-flex ui-flex-between">
                <div class="ui-flex ui-flex-between">
                    <label for="description">
                        描述说明
                    </label>
                    <div *ngIf="f.description.errors && f.description.touched"
                         class="ui-text-danger">
                        <span *ngIf="f.description.errors.required">请提供组件描述信息</span>
                    </div>
                </div>
            </div>
            <textarea class="ui-textarea"
                      formControlName="description"
                      rows="3"
                      id="description"
                      type="text"
                      [class.ui-form-danger]="f.description.errors && f.description.touched"
                      [class.ui-form-success]="!f.description.errors && f.description.touched"
                      placeholder="请提供描述信息，方便大家更了解你的组件">
            </textarea>
        </div>
        <div class="ui-margin ui-text-center">
            <button type="submit"
                    [disabled]="!mainForm.valid"
                    class="ui-button ui-button-primary ui-button-large ui-width-1-2">
                创建
            </button>
        </div>
    </form>
</div>
