<ng-container *ngIf="component">
    <h2 class="uk-h2">{{component.title}}</h2>
    <p>{{component.componentName}}</p>
    <div class="tags"
         *ngIf="component.tags.length">
        <span *ngFor="let tag of component.tags"
              class="uk-label">{{tag.name}}
        </span>
    </div>
    <p>
        <a class="uk-button uk-button-primary"
           routerLink="/editor"
           [queryParams]="{
               type: 'component',
               name: component.componentName,
               url: router.url
           }">
            编辑器
        </a>
    </p>
</ng-container>
