<ng-container *ngIf="component">
    <h2 class="ui-h2">{{component.name}}</h2>
    <p>{{component.name}}</p>
    <div class="tags"
         *ngIf="component.tags.length">
        <span *ngFor="let tag of component.tags"
              class="ui-label">{{tag.name}}
        </span>
    </div>
    <p>
        <a class="ui-button ui-button-primary"
           routerLink="/ide"
           [queryParams]="{
               type: 'component',
               id: component.componentId,
               url: router.url
           }">
            编辑器
        </a>
    </p>
</ng-container>
