<div class="uk-container page-medium-container">
    <app-search (selected)="searchAction($event)"></app-search>
    <div *ngIf="dataList && dataList.length"
         class="uk-child-width-1-3" uk-grid>
        <app-component-thumb-render *ngFor="let component of dataList"
                                    [component]="component">
        </app-component-thumb-render>
    </div>
    <app-common-pagination
            [dataFilter]="dataFilter"
            (changed)="getComponents()"
            class="uk-display-block uk-margin-medium-top">
    </app-common-pagination>
</div>
