<div class="ui-width-large ui-margin-auto">
    <h2 class="ui-h2 ui-margin-medium-bottom">新建组件</h2>
    <form class="ui-form-stacked"
          [formGroup]="mainForm"
          (keydown.enter)="$event.preventDefault()"
          (ngSubmit)="create()">
        <div class="ui-margin">
            <div class="ui-form-label ui-flex ui-flex-between">
                <div class="ui-flex ui-flex-between">
                    <label for="name">
                        组件名
                    </label>
                    <div *ngIf="f.name.errors && f.name.touched"
                         class="ui-text-danger"
                         [ngSwitch]="f.name.errors | objectFirstKey">
                        <span *ngSwitchCase="'required'">
                            请填写组件名
                        </span>
                        <span *ngSwitchCase="'pattern'">
                            只能输入中文、英文、数字、中划线
                        </span>
                        <span *ngSwitchCase="'minlength'">
                            最少 {{f.name.errors.minlength.requiredLength}} 个字符
                        </span>
                        <span *ngSwitchCase="'maxlength'">
                            最大 {{f.name.errors.maxlength.requiredLength}} 个字符
                        </span>
                    </div>
                </div>
            </div>
            <input class="ui-input"
                   formControlName="name"
                   id="name"
                   type="text"
                   [class.ui-form-danger]="f.name.errors && f.name.touched"
                   [class.ui-form-success]="!f.name.errors && f.name.touched"
                   placeholder="请输入组件名">
        </div>
        <div class="ui-margin">
            <div class="ui-form-label ui-flex ui-flex-between">
                <div class="ui-flex ui-flex-between">
                    <label for="componentId">
                        组件ID
                    </label>
                    <div *ngIf="f.componentId.errors && f.componentId.touched"
                         class="ui-text-danger"
                         [ngSwitch]="f.componentId.errors | objectFirstKey">
                            <span *ngSwitchCase="'required'">
                                请填写组件ID
                            </span>
                        <span *ngSwitchCase="'pattern'">
                                只允许小写字母、数字及下划线，以字母开头
                            </span>
                        <span *ngSwitchCase="'minlength'">
                                最少 {{f.componentId.errors.minlength.requiredLength}} 个字符
                            </span>
                        <span *ngSwitchCase="'maxlength'">
                                最大 {{f.componentId.errors.maxlength.requiredLength}} 个字符
                            </span>
                        <span *ngSwitchCase="'exist'">
                                该组件ID已经被占用
                        </span>
                    </div>
                </div>
            </div>
            <input class="ui-input"
                   formControlName="componentId"
                   id="componentId"
                   type="text"
                   [class.ui-form-danger]="f.componentId.errors && f.componentId.touched"
                   [class.ui-form-success]="!f.componentId.errors && f.componentId.touched"
                   placeholder="请输入组件名称">
        </div>
        <div class="ui-grid ui-grid-small ui-child-width-1-2">
            <div>
                <div class="ui-margin">
                    <div class="ui-form-label ui-flex ui-flex-between">
                        <div class="ui-flex ui-flex-between">
                            <label>
                                所属分类
                            </label>
                        </div>
                    </div>
                    <div>
                        <a ui-icon="icon:plus"></a>
                        <div *ngFor="let tag of f.tags.value"
                             class="ui-label ui-label-success ui-margin-small-left">
                            {{tag.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="ui-margin">
                    <label class="ui-form-label">是否公开？</label>
                    <div class="ui-grid-small ui-child-width-auto ui-grid">
                        <label>
                            <input class="ui-radio"
                                   type="radio"
                                   formControlName="isPublic"
                                   [value]="true">
                            <span class="ui-margin-small-left">是</span>
                        </label>
                        <label>
                            <input class="ui-radio"
                                   type="radio"
                                   formControlName="isPublic"
                                   [value]="false">
                            <span class="ui-margin-small-left">否</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-margin">
            <label class="ui-form-label">初始化代码来源</label>
            <div class="ui-grid-small ui-child-width-auto ui-grid">
                <label>
                    <input class="ui-radio"
                           type="radio"
                           formControlName="dataSourceType"
                           value="github">
                    <span class="ui-margin-small-left">Github</span>
                </label>
                <label>
                    <input class="ui-radio"
                           type="radio"
                           formControlName="dataSourceType"
                           value="mideaGit">
                    <span class="ui-margin-small-left">Midea Git</span>
                </label>
                <label>
                    <input class="ui-radio"
                           type="radio"
                           formControlName="dataSourceType"
                           value="upload">
                    <span class="ui-margin-small-left">从本地上传</span>
                </label>
            </div>
        </div>
        <ng-container *ngIf="f.dataSourceType.value !== 'upload'; else fileUpload">
            <div class="ui-margin">
                <div class="ui-form-label ui-flex ui-flex-between">
                    <div class="ui-flex ui-flex-between">
                        <label for="gitRepoPath">
                            仓库地址
                        </label>
                        <div *ngIf="f.gitRepoPath.errors && f.gitRepoPath.touched"
                             class="ui-text-danger"
                             [ngSwitch]="f.gitRepoPath.errors | objectFirstKey">
                            <span *ngSwitchCase="'required'">
                                请填写仓库地址
                            </span>
                            <span *ngSwitchCase="'pattern'">
                                仓库地址不合法
                            </span>
                            <span *ngSwitchCase="'repoError'">
                                仓库地址不合法
                            </span>
                        </div>
                    </div>
                </div>
                <input class="ui-input"
                       formControlName="gitRepoPath"
                       id="gitRepoPath"
                       type="text"
                       [class.ui-form-danger]="f.gitRepoPath.errors && f.gitRepoPath.touched"
                       [class.ui-form-success]="!f.gitRepoPath.errors && f.gitRepoPath.touched"
                       placeholder="请输入仓库地址">
            </div>
            <app-add-git-token *ngIf="availableTokensList && !calcTokenAvailable(); else setSync"
                               [type]="f.dataSourceType.value"
                                (tokenUpdate)="getTokensList()">
            </app-add-git-token>
            <ng-template #setSync>
                <div class="ui-margin">
                    <label class="ui-form-label">与上述仓库保持代码同步</label>
                    <div class="ui-grid-small ui-child-width-auto ui-grid">
                        <label>
                            <input class="ui-radio"
                                   type="radio"
                                   formControlName="enableSync"
                                   [value]="true">
                            <span class="ui-margin-small-left">是</span>
                        </label>
                        <label>
                            <input class="ui-radio"
                                   type="radio"
                                   formControlName="enableSync"
                                   [value]="false">
                            <span class="ui-margin-small-left">否</span>
                        </label>
                    </div>
                </div>
            </ng-template>
        </ng-container>
        <ng-template #fileUpload>
            <app-upload-zip-files class="ui-display-block ui-margin"
                            (complete)="f.uploadFile.setValue($event)">
            </app-upload-zip-files>
        </ng-template>
        <div class="ui-margin">
            <div class="ui-form-label ui-flex ui-flex-between">
                <div class="ui-flex ui-flex-between">
                    <label for="description">
                        描述说明
                    </label>
                    <div *ngIf="f.description.errors && f.description.touched"
                         class="ui-text-danger">
                        <span *ngIf="f.description.errors.required">请提供组件描述信息</span>
                    </div>
                </div>
            </div>
            <textarea class="ui-textarea"
                      formControlName="description"
                      rows="3"
                      id="description"
                      type="text"
                      [class.ui-form-danger]="f.description.errors && f.description.touched"
                      [class.ui-form-success]="!f.description.errors && f.description.touched"
                      placeholder="请提供描述信息，方便大家更了解你的组件">
            </textarea>
        </div>
        <div class="ui-margin ui-text-center">
            <button type="submit"
                    [disabled]="!mainForm.valid"
                    class="ui-button ui-button-primary ui-button-large ui-width-1-2">
                创建
            </button>
        </div>
    </form>
</div>
